@import "typography";
@import "variables";

// Links

a {
  text-decoration : none;
  color : $linkcolor;
  &:visited {
    color : $linkcolorvisited;
  }
  &:hover {
    text-decoration : underline;
    color : $linkcolorhover;
  }
  &:focus {
    outline : thin dotted;
    color : $linkcolorfocus;
  }
  &:hover,
  &:active {
    outline : 0;
  }
}

::-moz-selection {
  background-color : lighten($basecolor, 65%);
  color : $basecolor;
  text-shadow : none;
}

::selection {
  background-color : lighten($basecolor, 65%);
  color : $basecolor;
  text-shadow : none;
}

hr {
  display : block;
  margin : 1em 0;
  padding : 0;
  height : 1px;
  border : 0;
  border-top : 1px solid $grey;
  border-bottom : 1px solid $white;
}

// img

img {
  border-width : 0;
  vertical-align : middle;
  -ms-interpolation-mode : bicubic;
  max-width: 100%;
  height: auto;
}


svg:not(:root) {
  overflow : hidden;
}


// https://github.com/mrmrs/fluidity

canvas, iframe, video, svg {
  max-width: 100%;
  height: auto;
}

/* Wrap tables or pre elements in a div with this class */
.overflow-container { overflow-y: scroll; }

/* Aspect ratios for media objects i.e canvas, iframe, video, svg etc. Defaults to 16x9 */
.aspect-ratio { height: 0; padding-top: 56.25%; position: relative; }
.aspect-ratio--object { bottom: 0; height: 100%; left: 0; position: absolute; right: 0; top: 0; width: 100%; z-index: 100; }
