// Variables

$black: #333;
$white: #fff;

$bodycolor: $white;
$textcolor: $black;

// Typography

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

// Colour

$primaryColor:#000;
$secondaryColor:#fff;

// Links

$linkcolor: rgb(1,53,104);
$linkcolorhover: darken($linkcolor, 10);
$linkcolorvisited: darken($linkcolorhover, 10);

// Branding

$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;